<div class="container mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-md-7">
          <div class="card p-3 py-4">
              <div class="text-center"> <img src="assets/images/user.png" width="100" class="rounded-circle"> </div>
              <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">User Profile</span>
                  <h5 class="mt-2 mb-0">{{user.firstName}}</h5> <span>@{{user.userName}}</span>
                  <div class="px-4 mt-1">
                      <p class="fonts">Contact Number :{{user.contactNumber}}</p>
                  </div>

                  <div class="buttons"> <button class="btn btn-outline-primary px-4" (click)="openYourTweets()">My Tweet</button>

              </div>
          </div>
      </div>
  </div>
</div>
